<nav class="navbar navbar-expand-sm fixed-top navbar-light">
    {{#if user}}
            {{#if (isVip user.ID_ROL)}}

                
                <div class="container">
                    <a class="navbar-brand" href="/">INICIO</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar1">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link"  href="/allexpediente/">PETICIONES</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link"  href="#">LOGOUT</a> 
                            </li>
                        </ul>
                    </div>
                </div>
            {{else}}
                <!--<a href="/profile">Perfil</a> 

                    <a href="/petitions/">Peticiones</a> 

                    <a href="/logout">Logout</a>
                -->
            {{/if}}
        {{else}}
         <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"  href="/signin">SIGN IN</a> 
                </li>
            </ul>
        </div>
        <!--<li>
            <a href="/signup">Sign Up</a>
        </li>-->
        {{/if}}
</nav>
