<nav>
    {{!-- FRAN HACE EL NAVBAR, BANANANASHE --}}
    <ul>
        <li>
            <a href="/users/signin">Sign In</a> 
        </li>
        <li>
            <a href="/users/signup">Sign Up</a>
        </li>
    </ul>
</nav>