
<form style="background-color:whitesmoke" action="/add/contratista" method="POST" class="container">
    <h2>INGRESE</h2>
    <div class="row">
        <div class="col-2">
            <label class="form-label">Nombre Completo: </label> 
        </div>
        <div class="col input-group">
            <input class="form-control" type="text" name="nombre" id="name" placeholder="Nombre" required> 
            <input class="form-control" type="text" name="apellido" id="apellido" placeholder="Apellido" required> 
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <input class="form-control" name="CUIT" id="CUIT" placeholder="CUIT">
        </div>
        <div class="col"></div>
        <div class="col container">
            <div class="row">
                <div class="col-4">
                    <label>Fecha Certificacion: </label>
                </div>
                <div class="col">
                    <input class="form-control" type="date" name="fecha_certificacion" id="fecha_certificacion">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
            <label>Direccion: </label> 
        </div>
        <div class="col">
            <div class="input-group">
                <input placeholder="Calle" name="nmb_calle" id="nmb_calle" class="form-control"> <input placeholder="Nro" type="number" name="nro_calle" id="nro_calle" class="form-control">
            </div>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <input type="radio" id="mdp" name="LOCALIDAD" value="1" required> <label>Mar del Plata</label>
            <input type="radio" id="batan" name="LOCALIDAD" value="2"> <label>Batan</label>
            <input type="radio" id="santaclara" name="LOCALIDAD" value="3"> <label>Santa Clara</label>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2">
             <label>Email: </label>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input class="form-control" placeholder="Email" type="email" name="email_a" required> <input  class="form-control" placeholder="Email Opcional" type="email" name="email_b">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label>Numero de Telefono: </label>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input class="form-control" placeholder="Telefono" type="number" name="telefono_a" required> <input   class="form-control"  placeholder="Telefono Opcional" type="number" name="telefono_b">
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-3">
            <label>Nombre Completo del Representante: </label>
        </div>
        <div class="col-6">
            <div class="input-group">
                <input class="form-control" placeholder="Nombre" type="text" name="nombre_repre" id="nombre_repre"> <input  class="form-control" placeholder="Apellido" type="text" name="apellido_repre" id="apellido_repre">
            </div>
        </div>
    </div>

    <br><br>
    <h5>Rubros: </h5>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="checkbox" name="rubro" value="1"> <label>Albañileria </label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="2"> <label>Calderas </label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="3"> <label>Calefacción</label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="4"> <label> Carpintería</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" name="rubro" value="5"> <label>Cerrajería </label> 
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="6"> <label>Instalación Eléctrica </label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="7"> <label>Instalación de Gas</label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="8"><label> Instalación Sanitaria</label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="checkbox" name="rubro" value="9"> <label>Herrería </label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="10"> <label>Pintura </label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="11"><label> Techos</label>
                </div>
                <div class="col">
                    <input type="checkbox" name="rubro" value="12"><label> Vidrios</label> 
                </div>
            </div>
            <div class="row">
                <div class="col"><input type="checkbox" name="rubro" value="13"> <label>Yesería </label></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <br><br>
    <input class="btn btn-success " type="submit" value="AGREGAR">
</form> 