<div>
    <h1>Metodo de uso</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quidem atque ratione dolorum! Id non debitis ab itaque asperiores aperiam cum unde similique nisi porro nostrum consectetur esse, sint nemo.
    </p>
    <p>
        {{ obj.gnd }}, {{ obj.vtn }}, {{  loud obj.ctn  }}
    </p>
</div>