<h2>SignIn</h2>
<form action="/signin" method="POST">
    <label>EMAIL: </label> <input type="email"  name="email" id="email" required><br>
    <br>
    <label>PASSWORD: </label> <input type="text" name="password" id="email" required><br>
    <br>
    <input type="submit" value="ENVIAR">
</form> 