<h2>SignIn</h2>
<form action="/signin" method="POST">
    <label>EMAIL: </label> <input type="text"  name="name" id="name" required><br>
    <br>
    <label>PASSWORD: </label> <input type="text" name="password" id="password" required><br>
    <br>
    <input type="submit" value="ENVIAR">
</form> 