
<form  class="container" action="/add/encargado" method="POST">
    <h2>INGRESE</h2>

    <div class="row">
        <div class="col">
            <label for="TIPO">Nivel/Modalidad: </label>
        </div>
        <div class="col">
            <input class="form-check-input" type="radio" id="director" name="TIPO" value="1" required> <label>Director/a</label>
        </div>
        <div class="col">
            <input class="form-check-input" type="radio" id="inspector" name="TIPO" value="2"> <label>Inspector</label>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label>Nombre: </label> <input type="text" name="nombre" id="nombre" class="form-control" required>
        </div>
        <div class="col">
             <label>Apellido: </label> <input type="text" name="apellido" id="apellido" class="form-control" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input  name="telefono"  type="number" placeholder="Telefono" class="form-control">
                <input  name="email"  type="email" placeholder="Email" class="form-control">
            </div>
        </div>
    </div>




    <br><br><input class="btn btn-success" type="submit" value="AGREGAR">
</form>  