<h2>INGRESE</h2>
<form action="/users/signin" method="POST">
    <label>NOMBRE: </label> <input type="text" name="name" id="name" required><br>
    <br>
    <label>ROL: </label> 1<input type="radio"  name="rol" id="rol" value="1" required> 2<input type="radio"  name="rol" id="rol2" value="2">
    <label>EMAIL: </label> <input type="email"  name="email" id="email" required><br>
    <br>
    <label>PASSWORD: </label> <input type="text" name="password" id="email" required><br>
    <br>
    <input type="submit" value="ENVIAR">
</form> 