<h2>INGRESE</h2>
<form action="/users/signin" method="POST">
    <label>NOMBRE: </label> <input type="text" name="name" id="name" required><br>
    <br>
    <label>ROL: </label> <input type="text"  name="rol" id="rol" required>
    <label>EMAIL: </label> <input type="email"  name="email" id="email" required><br>
    <br>
    <label>PASSWORD: </label> <input type="text" name="pasword" id="email" required><br>
    <br>
    <input type="submit" value="ENVIAR">
</form> 