<h2>INGRESE</h2>
<form action="/add/petition" method="POST">
    <label>NOMBRE: </label> <input type="text" name="name" id="name" required><br>
    <br>
    <label>PROBLEMATICA: </label><br> 
    <textarea name="problem" placeholder="problematica"> 
    </textarea>
    <br><input type="submit" value="ENVIAR">
</form> 