<h1>All Petitions</h1>
<table style="width: 50%">
    <tr>
        <td>Hour</td>
        <td>ID_USER</td>
        <td>Name</td>
        <td>Problem</td>
    </tr>

    {{#each problems}}
    <tr>
        <td>
            {{ timeago created_at }}
        </td>
        <td>
            {{ ID_USER }}
        </td>
        <td>
            {{ name }}
        </td>
         <td>
            <textarea maxlength="10" disabled>
                {{ problem }}
            </textarea>
        </td>
    </tr>
    {{/each}}
</table>